<div class="message mb-2">
    <div class="content-container">
        <div class="author">
            <%= message.user.login %>
        </div>
        <div class="content">
            <%= message.content %>
        </div>
    </div>
</div>