<div class="container">
    <br>
    <h1 class="h3 mb-3 font-weight-normal">New User</h1>

    <%= render 'form', user: @user %>
    <p></p>
    <%= link_to 'Back', root_url, class: 'btn btn-outline-primary' %>
</div>